* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.1rem;
}

body {
  background-color: #ececec;
}

header .navbar-toggler {
  color: #000000;
}
header .nav-item {
  color: #000000;
}
header .btn {
  color: #000000;
  background-color: #ffffff;
  border-color: #000000;
}
header .btn:hover {
  background-color: #f4d748;
  border-color: #f4d748;
  color: #000000;
}
header .btn-outline-success:active {
  background-color: #dac141;
  border-color: #dac141;
  color: #000000;
}
header .dropdown-menu a {
  text-decoration: none;
  color: #000000;
}
header .dropdown-menu a:hover {
  color: #dac141;
}

footer {
  background-color: #ffffff;
  overflow-x: hidden;
}
footer div a {
  text-decoration: none;
  color: #000000;
  margin: 2px;
}
footer div a:hover {
  color: #dac141;
}

.pag-inicio .carousel {
  margin-bottom: 15px;
}
.pag-inicio .sct-ofertas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #b3b3b3;
}
.pag-inicio .sct-ofertas .ofertas {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pag-inicio .sct-ofertas .ofertas div {
  margin: 2px;
  width: 10rem;
  border: 1px solid #000000;
  text-align: center;
}
.pag-inicio .sct-ofertas a {
  text-decoration: none;
  color: #000000;
}
.pag-inicio .sct-ofertas a:hover {
  color: #dac141;
}
.pag-inicio .cards-perfumes-inicio {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pag-inicio .cards-perfumes-inicio .card {
  margin: 5px;
  width: 18rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  transition: all 400ms ease;
  overflow: hidden;
}
.pag-inicio .cards-perfumes-inicio .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.main-descuentos {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-descuentos .card {
  margin: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  transition: all 400ms ease;
  overflow: hidden;
}
.main-descuentos .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.main-masculinas {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-masculinas .card {
  margin: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  transition: all 400ms ease;
  overflow: hidden;
}
.main-masculinas .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.main-femeninas .cards-femeninas {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-femeninas .cards-femeninas .card {
  margin: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  transition: all 400ms ease;
  overflow: hidden;
}
.main-femeninas .cards-femeninas .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.formulario {
  margin: 10px;
  text-align: center;
}
.formulario h1 {
  padding: 10px;
  border-bottom: solid 1px #000000;
}
.formulario form {
  margin-top: 15px;
}
.formulario .botones-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario .botones-formulario .btn {
  margin: 20px;
}

.main-ayuda-sucursales {
  text-align: center;
}
.main-ayuda-sucursales h1 {
  padding: 7px;
  border-bottom: solid 1px #000000;
}
.main-ayuda-sucursales .cards-ayuda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-ayuda-sucursales .cards-ayuda .card {
  margin: 5px;
}
.main-ayuda-sucursales .ubicaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-ayuda-sucursales .ubicaciones h2 {
  width: 70vh;
  padding: 7px;
  border-bottom: solid 1px #000000;
}
.main-ayuda-sucursales .ubicaciones .card {
  margin: 10px;
}

@media screen and (min-width: 1200px) {
  .sct-ofertas {
    flex-direction: column;
    align-items: center;
  }
  .formulario .mb-3 {
    margin-left: 300px;
    margin-right: 300px;
  }
  .main-masculinas .cards-masculinas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-femeninas .cards-femeninas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main-descuentos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.005fr 5fr 5fr 5fr 5fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas: "header" "section1" "section2" "section3" "section4" "footer";
  }
  .header {
    grid-area: header;
  }
  .section1 {
    grid-area: section1;
  }
  .section2 {
    grid-area: section2;
  }
  .section3 {
    grid-area: section3;
  }
  .section4 {
    grid-area: section4;
  }
  .footer {
    grid-area: footer;
  }
}

/*# sourceMappingURL=estilo.css.map */
