footer{
    background-color: #ffffff;
    overflow-x: hidden;
    div{
        a{
            text-decoration: none;
            color: #000000;
            margin: 2px;
        }
        a:hover{
            color: #dac141;
        }
    }
}