@import "general";
@import "header";
@import "footer";


.pag-inicio{
    .carousel{
        margin-bottom: 15px;
    }
    .sct-ofertas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 1px solid #b3b3b3;
        .ofertas{
            margin: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            div{
                margin: 2px;
                width: 10rem;
                border: 1px solid #000000;
                text-align: center;
            }
        }
        a{
            text-decoration: none;
            color: #000000;
            &:hover{
            color: #dac141;
            }
        }
    }
    .cards-perfumes-inicio{
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card{
            margin: 5px;
            width: 18rem;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
            transition: all 400ms ease;
            overflow: hidden;
        }
        .card:hover{
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
            transform: translateY(-5px);
        }
    }
}
.main-descuentos{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card{
        margin: 5px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        transition: all 400ms ease;
        overflow: hidden;
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }
}
.main-masculinas{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card{
        margin: 5px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        transition: all 400ms ease;
        overflow: hidden;
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        transform: translateY(-5px);
    }
}
.main-femeninas{
    .cards-femeninas{ 
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card{
            margin: 5px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
            transition: all 400ms ease;
            overflow: hidden;
        }
        .card:hover{
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
            transform: translateY(-5px);
        }
    }
}
.formulario{
    h1{
        padding: 10px;
        border-bottom: solid 1px #000000;
    }
    margin: 10px;
    text-align: center;
    form{
        margin-top: 15px;
    }
    .botones-formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        .btn{
            margin: 20px;
        }
    }
}
.main-ayuda-sucursales{
    text-align: center;
    h1{
        padding: 7px;
border-bottom: solid 1px #000000;
    }
    .cards-ayuda{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card{
            margin: 5px;
        }
    }
    .ubicaciones{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
        width: 70vh;
        padding: 7px;
        border-bottom: solid 1px #000000;
        }
        .card{
            margin: 10px;
        }
    }
}
@media screen and (min-width:1200px){
    .sct-ofertas{
        flex-direction: column;
        align-items: center;
    }
    .formulario{
        .mb-3{
            margin-left: 300px;
            margin-right: 300px;
        }
    }
    .main-masculinas{
        .cards-masculinas{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .main-femeninas{
        .cards-femeninas{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;       
        }
    }
    .main-descuentos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.005fr 5fr 5fr 5fr 5fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "header"
          "section1"
          "section2"
          "section3"
          "section4"
          "footer";
      }
      
      .header{
         grid-area: header; 
        }
      
      .section1{
         grid-area: section1; 
        }
      
      .section2{
         grid-area: section2; 
        }
      
      .section3{
         grid-area: section3; 
        }
      
      .section4{
         grid-area: section4; 
        }
      
      .footer{ 
        grid-area: footer; 
    }
      
} 